<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="ZendCodingStandard Test Suite">
            <directory>./ZendCodingStandard/Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./ZendCodingStandard</directory>
            <exclude>
                <directory>./ZendCodingStandard/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
