<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="ZendCodingStandard Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
        </whitelist>
    </filter>
    <php>
        <const name="PHP_CODESNIFFER_CBF" value="0"/>
        <const name="PHP_CODESNIFFER_VERBOSITY" value="0"/>
    </php>
</phpunit>
