<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="ZendCodingStandard Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
        </whitelist>
    </filter>
    <php>
        <const name="PHP_CODESNIFFER_IN_TESTS" value="1"/>
        <const name="PHP_CODESNIFFER_CBF" value="0"/>
        <const name="PHP_CODESNIFFER_VERBOSITY" value="0"/>
    </php>
</phpunit>
